In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('chaiyo-is2.xlsx', parse_dates=['DOB','System CAR Code Date'])
df.head()

,Application Number,Principal Approve Amount,Principal Amount,Repayment Tenor Month Number,Gender,DOB,Occupation Description,Total Income Amount (Month),Collateral Type Code,Vehicle Brand,Vehicle Model,Vehicle Release Year,Vehicle Sub Model,System CAR Code (Daily),System CAR Code Date,Final CAR Code Previous Month,Day Past Due (Aging),Application Status
0,25650620ULMB00004,20000.0,13492.22,12,M,1986-08-15,พนักงานส่งเอกสาร,25000.09,MC,HONDA,PCX 160,2018,BV,S1,2022-06-20,S1,0,APPLICATION_COMPLETED
1,25650620ULCR00002,130000.0,125931.40,60,F,1996-04-30,ว่างงาน,15000.00,CAR,HONDA,CIVIC,2005,DK,S1,2022-06-20,S1,0,APPLICATION_COMPLETED
2,25650621ULMB00001,70000.0,60867.83,36,M,1979-04-01,พนักงานส่งเอกสาร,20000.00,MC,YAMAHA,N-MAX 155,2021,CE,S1,2022-06-21,S1,0,APPLICATION_COMPLETED
3,25650621ULMB00011,3000.0,1585.66,13,M,1967-05-04,STREET VENDOR,30000.00,MC,HONDA,WAVE 125 I,2010,AY,S1,2022-06-21,S1,0,APPLICATION_COMPLETED
4,25650621ULMB00006,22700.0,19307.33,24,M,1988-10-08,พนักงานบริษัท,13000.00,MC,YAMAHA,FINO (MLEKE),2010,AL,S1,2022-06-21,S1,0,APPLICATION_COMPLETED

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53015 entries, 0 to 53014
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Application Number             53015 non-null  object
 1   Principal Approve Amount       53015 non-null  float64
 2   Principal Amount               53015 non-null  float64
 3   Repayment Tenor Month Number   53015 non-null  int64
 4   Gender                         53015 non-null  object
 5   DOB                            53015 non-null  datetime64[ns]
 6   Occupation Description         53015 non-null  object
 7   Total Income Amount (Month)    53015 non-null  float64
 8   Collateral Type Code           53015 non-null  object
 9   Vehicle Brand                  53015 non-null  object
 10  Vehicle Model                  53015 non-null  object
 11  Vehicle Release Year           53015 non-null  int64
 12  Vehicle Sub Model              53015 non-null  object
 13  System CAR Code (Daily)        53015 non-null  object
 14  System CAR Code Date           53015 non-null  datetime64[ns]
 15  Final CAR Code Previous Month  53015 non-null  object
 16  Day Past Due (Aging)           53015 non-null  int64
 17  Application Status             53015 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(10)
memory usage: 7.3+ MB

In [4]:
df.describe().round(2)

,Principal Approve Amount,Principal Amount,Repayment Tenor Month Number,Total Income Amount (Month),Vehicle Release Year,Day Past Due (Aging)
count,53015.00,53015.00,53015.00,53015.00,53015.00,53015.00
mean,102272.20,100707.81,39.45,25194.17,2012.51,1.11
std,104175.48,103502.05,17.99,114570.30,5.52,7.36
min,3000.00,-147.65,1.00,0.00,1976.00,0.00
25%,26000.00,25300.03,24.00,15000.00,2008.00,0.00
50%,50000.00,46000.00,36.00,20000.00,2013.00,0.00
75%,165000.00,163000.00,60.00,30000.00,2017.00,0.00
max,4000000.00,3748564.27,120.00,20000000.00,2022.00,147.00

In [5]:
df.shape

(53015, 18)

In [33]:
df.columns

Index(['Application Number', 'Principal Approve Amount', 'Principal Amount',
       'Repayment Tenor Month Number', 'Gender', 'DOB',
       'Occupation Description', 'Total Income Amount (Month)',
       'Collateral Type Code', 'Vehicle Brand', 'Vehicle Model',
       'Vehicle Release Year', 'Vehicle Sub Model', 'System CAR Code (Daily)',
       'System CAR Code Date', 'Final CAR Code Previous Month',
       'Day Past Due (Aging)', 'Application Status'],
      dtype='object')

In [34]:
df.head(2)

,Application Number,Principal Approve Amount,Principal Amount,Repayment Tenor Month Number,Gender,DOB,Occupation Description,Total Income Amount (Month),Collateral Type Code,Vehicle Brand,Vehicle Model,Vehicle Release Year,Vehicle Sub Model,System CAR Code (Daily),System CAR Code Date,Final CAR Code Previous Month,Day Past Due (Aging),Application Status
0,25650620ULMB00004,20000.0,13492.22,12,M,19860815,พนักงานส่งเอกสาร,25000.09,MC,HONDA,PCX 160,2018,BV,S1,20220620,S1,0,APPLICATION_COMPLETED
1,25650620ULCR00002,130000.0,125931.40,60,F,19960430,ว่างงาน,15000.00,CAR,HONDA,CIVIC,2005,DK,S1,20220620,S1,0,APPLICATION_COMPLETED

In [35]:
df = df.drop(['DOB','Vehicle Sub Model','System CAR Code Date','Application Status'], axis=1)
df.head()

,Application Number,Principal Approve Amount,Principal Amount,Repayment Tenor Month Number,Gender,Occupation Description,Total Income Amount (Month),Collateral Type Code,Vehicle Brand,Vehicle Model,Vehicle Release Year,System CAR Code (Daily),Final CAR Code Previous Month,Day Past Due (Aging)
0,25650620ULMB00004,20000.0,13492.22,12,M,พนักงานส่งเอกสาร,25000.09,MC,HONDA,PCX 160,2018,S1,S1,0
1,25650620ULCR00002,130000.0,125931.40,60,F,ว่างงาน,15000.00,CAR,HONDA,CIVIC,2005,S1,S1,0
2,25650621ULMB00001,70000.0,60867.83,36,M,พนักงานส่งเอกสาร,20000.00,MC,YAMAHA,N-MAX 155,2021,S1,S1,0
3,25650621ULMB00011,3000.0,1585.66,13,M,STREET VENDOR,30000.00,MC,HONDA,WAVE 125 I,2010,S1,S1,0
4,25650621ULMB00006,22700.0,19307.33,24,M,พนักงานบริษัท,13000.00,MC,YAMAHA,FINO (MLEKE),2010,S1,S1,0

In [36]:
df.shape

(53015, 14)

In [37]:
df = df.drop_duplicates('Application Number')
df.shape

(52944, 14)

In [38]:
df = df.drop(['Application Number'], axis=1)
df.head()

,Principal Approve Amount,Principal Amount,Repayment Tenor Month Number,Gender,Occupation Description,Total Income Amount (Month),Collateral Type Code,Vehicle Brand,Vehicle Model,Vehicle Release Year,System CAR Code (Daily),Final CAR Code Previous Month,Day Past Due (Aging)
0,20000.0,13492.22,12,M,พนักงานส่งเอกสาร,25000.09,MC,HONDA,PCX 160,2018,S1,S1,0
1,130000.0,125931.40,60,F,ว่างงาน,15000.00,CAR,HONDA,CIVIC,2005,S1,S1,0
2,70000.0,60867.83,36,M,พนักงานส่งเอกสาร,20000.00,MC,YAMAHA,N-MAX 155,2021,S1,S1,0
3,3000.0,1585.66,13,M,STREET VENDOR,30000.00,MC,HONDA,WAVE 125 I,2010,S1,S1,0
4,22700.0,19307.33,24,M,พนักงานบริษัท,13000.00,MC,YAMAHA,FINO (MLEKE),2010,S1,S1,0

In [41]:
df['Collateral Type Code'].value_counts()

MC     25638
PU     14157
CAR    12131
VAN      382
4WH      328
6WH      183
10W      124
OTH        1
Name: Collateral Type Code, dtype: int64

In [47]:
df0 = df[df['Day Past Due (Aging)']==0]
df0.shape

(50936, 13)

In [50]:
#df1 = df[(df.a != -1) & (df.b != -1)]

df1_30 = df[(df['Day Past Due (Aging)'] >= 1) & (df['Day Past Due (Aging)'] <= 30)]
df1_30.shape

(1426, 13)

In [51]:
df31_60 = df[(df['Day Past Due (Aging)'] >= 30) & (df['Day Past Due (Aging)'] <= 60)]
df31_60.shape

(429, 13)

In [52]:
df61_90 = df[(df['Day Past Due (Aging)'] >= 60) & (df['Day Past Due (Aging)'] <= 90)]
df61_90.shape

(96, 13)

In [53]:
df90up = df[df['Day Past Due (Aging)']>=90]
df90up.shape

(57, 13)